.main-banner{
    min-height: 787px;
    background-image: url(../images/home-header.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .main-banner-t{
        display: flex;
        flex-direction:column;
        align-items: flex-end;
        min-height: 787px;
        justify-content: center;
    }
    h2{
        font-size: $fz-36;
        line-height: $lh-54;
        color: #650300;
    }
    p{
        font-size: $fz-64;
        line-height: $lh-96;
        color:#650300;
        font-weight: bold;
        margin-bottom: 4px;
    }
    a{
        color: #fff;
        text-decoration: none;
        padding: 6px 12px;
        font-size: $fz-20;
        line-height: $lh-30;
        background: #AA0601;
    }
}
@media(max-width:767px){
    .main-banner{
        width: 100%;
        min-height: 396px;
        .main-banner-t{
            min-height: 396px;
        }
        h2{
            font-size: $fz-16;
            line-height: $lh-24;
        }
        p{
            font-size: $fz-24;
            line-height: $lh-36;
        }
    }
}
.p-80{
    padding: 80px 0;
}
.service{
    background: #FBF2F2;
    text-align: center;
    h3{
        font-size: $fz-48;
        line-height: $lh-72;
        color:#650300;
        font-weight: bold;
        margin-bottom: 24px;
    }
    ul{
        display: flex;
        justify-content: space-between;
        li{
            width: 24%;
            img{
                width: 100px;
                height: 100px;
            }
            h4{
                font-size: $fz-24;
                color:#650300;
                line-height: $lh-36;
                font-weight: bold;
                margin-bottom: 8px;
            }
            p{
                text-align: left;
                line-height: $fz-24;
            }
        }
    }
}

@media(max-width:992px){
    .service{
        ul{
            flex-wrap: wrap;
            li{
                width: 49%;
                margin-bottom: 48px;
            }
        }
    }
}

@media(max-width:767px){
    .service{
        padding: 40px 0;
        h3{
            font-size: $fz-24;
            line-height: $lh-36;
        }
        ul{
            flex-wrap: wrap;
            li{
                width: 100%;
                margin-bottom: 24px;
                margin: 0 auto;
            }
        }
    }
}
.glass-classic{
    text-align: center;
    h3{
        font-size: $fz-48;
        line-height: $lh-72;
        color:#650300;
        font-weight: bold;
        margin-bottom: 24px;
    }
    ul{
        display: flex;
        justify-content: space-between;
        li{
            width: 33.33%;
            img{
                margin-bottom: 8px;
            }
            p{
                font-size: $fz-48;
                line-height: $lh-72;
                color:#AA0601;
                font-weight: bold;
                font-style: italic;
            }
        }
    }
}
@media(max-width:992px){
    .glass-classic{
        ul{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            li{
                width: 100%;
                margin-bottom: 24px;
            }
            img{
                width: 336px;
                height: 336px;
                margin-bottom: 8px;
            }
        }
    }
}
@media(max-width:767px) {
    .glass-classic{
        padding: 40px 0;
        h3{
            font-size: $fz-24;
            line-height: $lh-36;
        }
    } 
}
.glass-design{
    text-align: center;
    min-height: 608px;
    background-image: url(../images/index-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    h3{
        font-size: $fz-48;
        line-height: $lh-72;
        color: #fff;
        font-weight: bold;
        margin-bottom: 24px;
    }
    ul{
        display: flex;
        justify-content: space-between;
    }
    li{
        width: 50%;
    }
    p{
        font-size: $fz-48;
        line-height: $lh-72;
        color:#AA0601;
        font-weight: bold;
        padding: 8px 0;
        background: #fff;
        font-style: italic;
    }
}
@media(max-width:992px){
    .glass-design{
        padding: 80px 36px;
        min-height: 960px;
        background-image: url(../images/index-bg-sm.png);
        ul{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        li{
            width: 100%;
            margin-bottom: 24px;
        }
    }
}
@media(max-width:767px){
    .glass-design{
        padding: 40px 14px;
        min-height: 820px;
        background-image: url(../images/index-bg-md.png);
        h3{
            font-size: $fz-24;
            line-height: $lh-36;
        }
        ul{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        li{
            width: 100%;
            margin-bottom: 24px;
        }
    }
}
.customer{
    h3{
        font-size: $fz-48;
        line-height: $lh-72;
        color:#650300;
        font-weight: bold;
        margin-bottom: 24px;
        text-align: center;
    }
    &-list{
        display: flex;
        justify-content: space-between;
        .customer-info{
            border: 1px solid #00000029;
            box-shadow: 0px 2px 6px #00000029;
            border-radius: 4px;
            width: 24%;
        }
    }
}
.comment{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    ul{
        margin-bottom: 72px;
        li{
            line-height: $lh-24;
        }  
    }
    &:first-child{
        margin-bottom: 8px;
    }
    p{
        color:#707070;
    };
}
@media(max-width:992px){
    .customer{
        &-list{
            flex-wrap: wrap;
            .customer-info{
                width: 49%;
                margin-bottom: 24px;
            }
        }
    }
}
@media(max-width:767px){
    .customer{
        padding: 40px 14px;
        h3{
            font-size: $fz-24;
            line-height: $lh-36;
        }
        &-list{
            flex-wrap: wrap;
            .customer-info{
                width: 100%;
                margin-bottom: 16px;
            }
        }
    }
}
.contact-us{
    background-color: #FBF2F2;
    .container{
        width: 636px;
        margin: 0 auto;
    }
    h3{
        font-size: $fz-48;
        line-height: $lh-72;
        color:#650300;
        font-weight: bold;
        margin-bottom: 48px;
        text-align: center;
    }
    p{
        font-size: $fz-20;
        line-height: $lh-30;
        margin-bottom: 24px;
    }
}
@media(max-width:992px){
    .contact-us{
        .container{
            max-width: 576px;
        }
    }
}
@media(max-width:767px){
    .contact-us{
        padding: 40px 0;
        h3{
            font-size: $fz-24;
            line-height: $lh-36;
        }
        .container{
            max-width: 348px;
        }
    }
}
.mt-8{
    margin-top: 8px;
}
.mb-16{
    margin-bottom: 16px;
}
.input{
    width: 100%;
    padding: 6px 12px;
    background-color: #FBF2F2;
    border: 1px solid #000;
}
.input-eara{
    min-height: 136px;
}
.btn{
    display: block;
    margin: 0 auto;
    width: 416px;
    padding: 16px 0;
    color:#fff;
    background-color:#AA0601;
    border: 1px solid #AA0601;
    margin-top: 48px;
    font-weight: bold;
    font-size: $fz-16;
    line-height: $lh-24;
}
@media(max-width:767px){
    .btn{
        max-width: 310px;
    }
}
.btn:hover{
    background-color:#650300;
    border: 1px solid #650300;
}

