*,*::before,*::after{
  box-sizing: border-box;
}
body{
  font-family: 'Noto Sans TC','Roboto','sans-serif';
}
img{
  width: 100%;
  height: auto;
  vertical-align: middle;
}
.container{
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}
@media(max-width:992px){
  .container{
    max-width: 720px;
  }
}
.bg-r{
  background-color: #AA0601;
}
.header{
  padding: 25px 0;
}
.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo{
    display: block;
    width:80px;
    height: 49px;
    background: url(../images/logo-white.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
  }
}

.menu-list{
  width: 492px;
  display: flex;
  justify-content: space-between;
  a{
    display: block;
    font-size: $fz-20;
    line-height: $lh-30;
  }
}

@media(max-width:767px){
  .header, .header .container{
    padding:0;
  }
  .menu{
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    .logo{
      margin: 16px 0;
    }
  }

  .menu-list{
    width: 100%;
    flex-wrap: wrap;
    li{
      width: 50%;
      text-align: center;
      border-top:1px solid #fff;
      border-bottom:1px solid #fff;
      a{
        padding: 12px 0;
        font-size: $fz-16;
        line-height: $lh-24;
      }
    }
    li:nth-child(odd){
      border-right: 1px solid #fff;
    }
  }
}

a:hover{
  opacity: 0.5;
}
.header a, .footer a{
  color:#fff;
  text-decoration: none;
}
.content a{
  color:black;
}
.footer{
  padding: 48px 0 32px;
}
.footer-list-t{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}
.footer-menu{
  width: 464px;
  display: flex;
  justify-content: space-between;
  a{
    font-size: $fz-16;
  }
}
.contact{
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  a{
    font-size: $fz-36;
    line-height: $lh-54;
  }
}
.material-symbols-outlined{
  color:#fff;
  margin-right: 16px;
}
.fs-call{
  font-size: $fz-36;
}
.fs-mail{
  font-size: $fz-40;
}
.social{
  width: 208px;
  display: flex;
  justify-content: space-between;
  img{
    width: 48px;
    height: 48px;
  }
}
.footer-copyright{
  padding-top: 32px;
  margin-top: 24px;
  border-top: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  p{
    color:#fff;
  }
}
.link a{
  font-size: $fz-14;
  line-height: $lh-21;
  margin-left: 48px;
}
@media(max-width:767px){
  .footer{
    padding: 24px 0;
  }
  .footer-list{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .footer-menu{
    display: none;
  }
  .social{
    width:25%;
    img{
      width: 24px;
      height: 24px;
      margin-left: 8px;
    }
  }
  .material-symbols-outlined{
    margin-right: 10px;
  }
  .fs-call{
    font-size: 20px;
  }
  .fs-mail{
    font-size: 18px;
  }
  .contact a{
    font-size: $fz-16;
    line-height: $lh-24;
  }
  .footer-copyright{
    flex-direction: column;
    margin-top: $fz-16;
    padding-top: 16px;
  }
  .footer p{
    margin-bottom: 8px;
  }
  .link a{
    margin-left: 0px;
    display: block;
    margin-bottom: 8px;
    font-size: $fz-16;
    line-height: $lh-24;
  }
}
