.main-menu{
    display: flex;
    max-width: 1320px;
    margin: 0 auto;
    li{
        width: 33.33%;
        border: 1px solid #DCDCDC;
        a{
            display: block;
            color:black;
            text-decoration: none;
            font-size: $fz-32;
            line-height: $lh-48;
            text-align: center;
            font-weight: bold;
            padding: 24px 0;
        }
        a:hover{
            border-bottom: 8px solid #AA0601;
            opacity: 1;
        }
    }
}
@media(max-width:992px){
    .main-menu{
        li{
            a{
                font-size: $fz-24;
                line-height: $lh-36;
                padding: 16px 0;
            }
        }
    }

}
@media(max-width:767px){
    .main-menu{
        li{
            a{
                font-size: $fz-16;
                line-height: $lh-24;
                padding: 16px 0;
            }
        }
    }

}
.banner ul{
    display: flex;
    justify-content: space-between;
    .banner1{
        width: 50%;
        min-height: 296px;
        background: url(../images/product-header-sm-1.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        text-indent: 101%;
        overflow: hidden;
        white-space: nowrap;
    }
    .banner2{
        width: 50%;
        min-height: 296px;
        background: url(../images/product-header-sm-2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        text-indent: 101%;
        overflow: hidden;
        white-space: nowrap;
    }
}

.glass-info{
    padding: 80px 0;
    text-align: center;
    h2{
        font-size: $fz-42;
        line-height: $lh-63;
    }
    h3{
        font-size: $fz-32;
        line-height: $lh-48;
        margin-bottom: 32px;
    }
    ul{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 15px;
        li{
            margin-bottom: 80px;
            width: 24%;
            .glass-p{
                display: flex;
                justify-content: space-between;
                font-size: $fz-24;
                line-height: $lh-36;
                p{
                    color:#AA0601;
                }
            }
            .glass-color{
                display: flex;
                .color-1{
                    width: 24px;
                    height: 24px;
                    border-radius: 4px;
                    background: #5F3E2D;
                    margin-right: 8px;
                }
                .color-2{
                    width: 24px;
                    height: 24px;
                    border-radius: 4px;
                    background: #B75929;
                    
                }
            }
        }
    }
}
@media (max-width:992px){
    .glass-list{
        ul{
            flex-wrap: wrap;
            li{
                width: 49%;
            }
        } 
    }
}
@media (max-width:767px){
    .glass-list{
        ul{
            flex-wrap: wrap;
            li{
                width: 100%;
            }
        } 
    }
}
.page{
    width: 372px;
    margin: 0 auto;
    margin-bottom: 80px;
    ul{
        display: flex;
        justify-content: space-between;
        text-align: center;
        border-top: 1px solid #555555;
        border-left: 1px solid #555555;
        border-bottom: 1px solid #555555;
        li{
            border-right: 1px solid #555555;
           a{
            color:#555555;
            text-decoration: none;
            font-size: $fz-18;
            line-height: $lh-27;
            display:block;
            padding: 12px 14px;
           }
           a:hover{
            color:#fff;
            background-color: #000;
           }
        }
    }
}
@media(max-width:767px){
    .page{
        width: 370px;
        a{
            display: block;
            font-size: $fz-16;
            line-height: $lh-24;
        }
    }
}