$mb-8:8px;

$fz-14:14px;
$fz-16:16px;
$fz-18:18px;
$fz-20:20px;
$fz-24:24px;
$fz-32:32px;
$fz-36:36px;
$fz-40:40px;
$fz-42:42px;
$fz-48:48px;
$fz-64:64px;

$lh-21:21px;
$lh-24:24px;
$lh-27:27px;
$lh-30:30px;
$lh-36:36px;
$lh-48:48px;
$lh-54:54px;
$lh-63:63px;
$lh-72:72px;
$lh-96:96px;