/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif; }

img {
  width: 100%;
  height: auto;
  vertical-align: middle; }

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px; }

@media (max-width: 992px) {
  .container {
    max-width: 720px; } }

.bg-r {
  background-color: #AA0601; }

.header {
  padding: 25px 0; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .menu .logo {
    display: block;
    width: 80px;
    height: 49px;
    background: url(../images/logo-white.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap; }

.menu-list {
  width: 492px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .menu-list a {
    display: block;
    font-size: 20px;
    line-height: 30px; }

@media (max-width: 767px) {
  .header, .header .container {
    padding: 0; }
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .menu .logo {
      margin: 16px 0; }
  .menu-list {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .menu-list li {
      width: 50%;
      text-align: center;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff; }
      .menu-list li a {
        padding: 12px 0;
        font-size: 16px;
        line-height: 24px; }
    .menu-list li:nth-child(odd) {
      border-right: 1px solid #fff; } }

a:hover {
  opacity: 0.5; }

.header a, .footer a {
  color: #fff;
  text-decoration: none; }

.content a {
  color: black; }

.footer {
  padding: 48px 0 32px; }

.footer-list-t {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 36px; }

.footer-menu {
  width: 464px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .footer-menu a {
    font-size: 16px; }

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px; }
  .contact a {
    font-size: 36px;
    line-height: 54px; }

.material-symbols-outlined {
  color: #fff;
  margin-right: 16px; }

.fs-call {
  font-size: 36px; }

.fs-mail {
  font-size: 40px; }

.social {
  width: 208px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .social img {
    width: 48px;
    height: 48px; }

.footer-copyright {
  padding-top: 32px;
  margin-top: 24px;
  border-top: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .footer-copyright p {
    color: #fff; }

.link a {
  font-size: 14px;
  line-height: 21px;
  margin-left: 48px; }

@media (max-width: 767px) {
  .footer {
    padding: 24px 0; }
  .footer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer-menu {
    display: none; }
  .social {
    width: 25%; }
    .social img {
      width: 24px;
      height: 24px;
      margin-left: 8px; }
  .material-symbols-outlined {
    margin-right: 10px; }
  .fs-call {
    font-size: 20px; }
  .fs-mail {
    font-size: 18px; }
  .contact a {
    font-size: 16px;
    line-height: 24px; }
  .footer-copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 16px;
    padding-top: 16px; }
  .footer p {
    margin-bottom: 8px; }
  .link a {
    margin-left: 0px;
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 24px; } }

.p-80 {
  padding: 80px 0; }

.mt-8 {
  margin-top: 8px; }

.mb-16 {
  margin-bottom: 16px; }

.main-banner {
  min-height: 787px;
  background-image: url(../images/home-header.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  @media (max-width: 767px) {
    .main-banner {
      background-image: url(../images/home-header-sm.png);
      min-height: 396px; } }
  .main-banner .main-banner-t {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    min-height: 787px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media (max-width: 767px) {
      .main-banner .main-banner-t {
        min-height: 396px; } }
  .main-banner h2 {
    font-size: 36px;
    line-height: 54px;
    color: #650300; }
    @media (max-width: 767px) {
      .main-banner h2 {
        font-size: 16px;
        line-height: 24px; } }
  .main-banner p {
    font-size: 64px;
    line-height: 96px;
    color: #650300;
    font-weight: bold;
    margin-bottom: 4px; }
    @media (max-width: 767px) {
      .main-banner p {
        font-size: 24px;
        line-height: 36px; } }
  .main-banner a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 6px 12px;
    font-size: 20px;
    line-height: 30px;
    background: #AA0601; }

.service {
  background: #FBF2F2;
  text-align: center; }
  @media (max-width: 992px) {
    .service {
      padding-bottom: 32px; } }
  @media (max-width: 767px) {
    .service {
      padding: 40px 0; } }
  .service h3 {
    font-size: 48px;
    line-height: 72px;
    color: #650300;
    font-weight: bold;
    margin-bottom: 24px; }
    @media (max-width: 767px) {
      .service h3 {
        font-size: 24px;
        line-height: 36px; } }
  .service ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    @media (max-width: 992px) {
      .service ul {
        padding-left: -12px;
        padding-right: -12px; } }
    .service ul li {
      width: 25%;
      padding-left: 12px;
      padding-right: 12px; }
      @media (max-width: 992px) {
        .service ul li {
          width: 50%;
          margin-bottom: 48px; } }
      @media (max-width: 767px) {
        .service ul li {
          width: 100%;
          margin-bottom: 24px; } }
      .service ul li img {
        width: 100px;
        height: 100px;
        margin-bottom: 16px; }
      .service ul li h4 {
        font-size: 24px;
        line-height: 36px;
        color: #650300;
        font-weight: bold;
        margin-bottom: 8px; }
      .service ul li p {
        text-align: left;
        line-height: 24px; }
  @media (max-width: 767px) {
    .service ul :last-child {
      margin-bottom: 0px; } }

.glass-classic {
  text-align: center; }
  @media (max-width: 767px) {
    .glass-classic {
      padding: 40px 0; } }
  .glass-classic h3 {
    font-size: 48px;
    line-height: 72px;
    color: #650300;
    font-weight: bold;
    margin-bottom: 48px; }
    @media (max-width: 767px) {
      .glass-classic h3 {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 24px; } }
  .glass-classic ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 992px) {
      .glass-classic ul {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    .glass-classic ul li {
      margin-right: 24px; }
      @media (max-width: 992px) {
        .glass-classic ul li {
          width: 100%;
          margin-bottom: 24px;
          margin-right: 0; } }
      .glass-classic ul li img {
        margin-bottom: 8px; }
        @media (max-width: 992px) {
          .glass-classic ul li img {
            max-width: 336px; } }
        @media (max-width: 767px) {
          .glass-classic ul li img {
            max-width: 348px; } }
      .glass-classic ul li h4 {
        font-size: 48px;
        line-height: 72px;
        color: #AA0601;
        font-weight: bold;
        font-style: italic; }
  .glass-classic ul :last-child {
    margin-right: 0; }
    @media (max-width: 992px) {
      .glass-classic ul :last-child {
        margin-bottom: 0; } }

.glass-design {
  text-align: center;
  min-height: 608px;
  background-image: url(../images/index-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  @media (max-width: 992px) {
    .glass-design {
      padding: 80px 36px 56px;
      min-height: 960px;
      background-image: url(../images/index-bg-sm.png); } }
  @media (max-width: 767px) {
    .glass-design {
      padding: 40px 0;
      min-height: 820px;
      background-image: url(../images/index-bg-md.png); } }
  .glass-design h3 {
    font-size: 48px;
    line-height: 72px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 48px; }
    @media (max-width: 767px) {
      .glass-design h3 {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 24px; } }
  .glass-design ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 992px) {
      .glass-design ul {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    .glass-design ul li {
      width: 50%; }
      @media (max-width: 992px) {
        .glass-design ul li {
          width: 100%;
          margin-bottom: 24px; } }
      @media (max-width: 767px) {
        .glass-design ul li {
          width: 100%;
          margin-bottom: 24px; } }
    .glass-design ul .design1 {
      min-height: 240px;
      background: url(../images/home-section4-1.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      text-indent: 101%;
      overflow: hidden;
      white-space: nowrap; }
      @media (max-width: 767px) {
        .glass-design ul .design1 {
          background: url(../images/home-section4-1-sm.png);
          background-size: contain;
          background-repeat: no-repeat; } }
    .glass-design ul .design2 {
      min-height: 240px;
      background: url(../images/home-section4-2.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      text-indent: 101%;
      overflow: hidden;
      white-space: nowrap; }
      @media (max-width: 767px) {
        .glass-design ul .design2 {
          background: url(../images/home-section4-2-sm.png);
          background-size: contain;
          background-repeat: no-repeat; } }
    .glass-design ul h4 {
      font-size: 48px;
      line-height: 72px;
      color: #AA0601;
      font-weight: bold;
      padding: 8px 0;
      background: #fff;
      font-style: italic; }
  @media (max-width: 992px) {
    .glass-design ul :last-child {
      margin-bottom: 0; } }

@media (max-width: 992px) {
  .customer {
    padding-bottom: 56px; } }

@media (max-width: 767px) {
  .customer {
    padding: 40px 12px; } }

.customer h3 {
  font-size: 48px;
  line-height: 72px;
  color: #650300;
  font-weight: bold;
  margin-bottom: 48px;
  text-align: center; }
  @media (max-width: 767px) {
    .customer h3 {
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 24px; } }

.customer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 992px) {
    .customer-list {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  .customer-list .customer-info {
    border: 1px solid #00000029;
    -webkit-box-shadow: 0px 2px 6px #00000029;
            box-shadow: 0px 2px 6px #00000029;
    border-radius: 4px;
    margin-right: 24px; }
    @media (max-width: 992px) {
      .customer-list .customer-info {
        width: 48%;
        margin-bottom: 24px; } }
    @media (max-width: 767px) {
      .customer-list .customer-info {
        width: 100%;
        margin-right: 0;
        margin-bottom: 16px; } }

.customer-list :last-child {
  margin-right: 0; }
  @media (max-width: 767px) {
    .customer-list :last-child {
      margin-bottom: 0; } }

@media (max-width: 992px) {
  .customer-list :nth-child(2n) {
    margin-right: 0; } }

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 16px; }
  .comment .comment-detail {
    margin-bottom: 64px; }
    .comment .comment-detail p {
      line-height: 24px;
      color: #000;
      margin-bottom: 8px; }
  .comment p {
    color: #707070; }

.contact-us {
  background-color: #FBF2F2; }
  @media (max-width: 767px) {
    .contact-us {
      padding: 40px 0; } }
  .contact-us .container {
    max-width: 636px; }
    @media (max-width: 992px) {
      .contact-us .container {
        max-width: 576px; } }
    @media (max-width: 767px) {
      .contact-us .container {
        max-width: 348px; } }
  .contact-us h3 {
    font-size: 48px;
    line-height: 72px;
    color: #650300;
    font-weight: bold;
    margin-bottom: 48px;
    text-align: center; }
    @media (max-width: 767px) {
      .contact-us h3 {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 24px; } }
  .contact-us p {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 24px; }

.input {
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  padding: 6px 12px;
  background-color: #FBF2F2;
  border: 1px solid #000; }

.input-eara {
  min-height: 136px; }

.btn {
  display: block;
  margin: 0 auto;
  padding: 16px 176px;
  color: #fff;
  background-color: #AA0601;
  border: 1px solid #AA0601;
  margin-top: 48px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px; }
  @media (max-width: 992px) {
    .btn {
      padding: 16px 136px; } }
  @media (max-width: 767px) {
    .btn {
      max-width: 310px; } }

.btn:hover {
  background-color: #650300;
  border: 1px solid #650300; }

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1320px;
  margin: 0 auto; }
  .main-menu li {
    width: 33.33%;
    border: 1px solid #DCDCDC; }
    .main-menu li a {
      display: block;
      color: black;
      text-decoration: none;
      font-size: 32px;
      line-height: 48px;
      text-align: center;
      font-weight: bold;
      padding: 24px 0; }
      @media (max-width: 992px) {
        .main-menu li a {
          font-size: 24px;
          line-height: 36px;
          padding: 16px 0; } }
      @media (max-width: 767px) {
        .main-menu li a {
          font-size: 16px;
          line-height: 24px;
          padding: 16px 0; } }
    .main-menu li a::after {
      content: " ";
      display: block;
      width: 0%;
      height: 8px;
      background-color: #AA0601; }
    .main-menu li a:hover::after {
      width: 100%; }
    .main-menu li a:hover {
      opacity: 1; }

.banner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 296px; }
  @media (max-width: 767px) {
    .banner ul {
      min-height: 136px; } }
  .banner ul .banner1 {
    width: 50%;
    background: url(../images/product-header-sm-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap; }
  .banner ul .banner2 {
    width: 50%;
    background: url(../images/product-header-sm-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap; }

.glass-info {
  padding-top: 80px;
  text-align: center; }
  @media (max-width: 767px) {
    .glass-info {
      padding-top: 40px; } }
  .glass-info h2 {
    font-size: 42px;
    line-height: 63px; }
    @media (max-width: 767px) {
      .glass-info h2 {
        font-size: 24px;
        line-height: 36px; } }
  .glass-info h3 {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 32px; }
    @media (max-width: 767px) {
      .glass-info h3 {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 24px; } }
  .glass-info ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: -12px;
    padding-right: -12px; }
    .glass-info ul li {
      padding-left: 12px;
      padding-right: 12px;
      width: 24%;
      margin-bottom: 80px; }
      @media (max-width: 992px) {
        .glass-info ul li {
          width: 49%;
          margin-bottom: 40px; } }
      @media (max-width: 767px) {
        .glass-info ul li {
          width: 100%;
          margin-bottom: 24px; } }
      .glass-info ul li .glass-p {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        font-size: 24px;
        line-height: 36px; }
        .glass-info ul li .glass-p p {
          color: #AA0601; }
      .glass-info ul li .glass-color {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .glass-info ul li .glass-color .color-1 {
          width: 24px;
          height: 24px;
          border-radius: 4px;
          background: #5F3E2D;
          margin-right: 8px; }
        .glass-info ul li .glass-color .color-2 {
          width: 24px;
          height: 24px;
          border-radius: 4px;
          background: #B75929; }

.page {
  margin-bottom: 80px; }
  @media (max-width: 767px) {
    .page {
      margin-bottom: 64px; } }
  .page ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center; }
    .page ul li {
      border: 1px solid #555555; }
      .page ul li a {
        color: #555555;
        text-decoration: none;
        font-size: 18px;
        line-height: 27px;
        display: block;
        padding: 12px 14px; }
        @media (max-width: 767px) {
          .page ul li a {
            font-size: 16px;
            line-height: 24px; } }
      .page ul li a:hover {
        color: #fff;
        background-color: #000;
        opacity: 1; }

/*# sourceMappingURL=all.css.map */
